.dropdown{
    margin: 0px;
    width: 100px;
    height: 20px;
    padding: 0px;
    /* box-shadow: 3px 3px 10px 6px rgba(0,0,0,0.06); */
    color: #333;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    position: relative;
}

.dropdown .dropdown-btn{
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.dropdown .dropdown-btn p{
    margin: 0;
    padding: 0;
    color: black;
}

.dropdown .dropdown-btn .expand-btn{
    margin: 0;
    padding: 0;
    height: 10px;
    width: 10px;
}

.dropdown .dropdown-btn .expand-btn img{
    margin: 0;
    padding: 0;
    height: 10px;
    width: 10px;
}

.dropdown .dropdown-content{
    position: absolute;
    top: 80%;
    left: 10%;
    padding: 10px;
    background-color: #fff;
    box-shadow: 3px 3px 10px 6px rgba(0,0,0,0.06);
    font-weight: 500;
    color: #333;
    width: 200px;
}

.dropdown .dropdown-content .dropdown-item{
    padding: 10px;
    cursor: pointer;
    transition: all 0.2s;

}

.dropdown .dropdown-content .dropdown-item:hover{
    background-color: #f4f4f4;
}