.property-for-rent{
    margin: 0;
    padding: 0;
    width: 100%;
}

.property-for-rent .ad{
    margin: 32px 75px;
    padding: 0;
    display: flex;
}

.property-for-rent .ad .ad-left{
    margin: 0;
    padding: 0;
    text-align: start;
}

.property-for-rent .ad .ad-left .ad-texts{
    margin: 10px 25px;
}

.property-for-rent .ad .ad-left .ad-texts .ad-heading{
    margin: 10px 0px;
    padding: 0;
    font-size: 24px;
    font-weight: 700;
}

.property-for-rent .ad .ad-left .ad-texts .ad-description{
    margin: 0;
    padding: 0;
    font-size: 14px;
    font-weight: 400;
}

.property-for-rent .ad .ad-left .ad-texts .ad-red{
    margin: 10px 0px;
    padding: 0;
    color: #C11B26;
    font-size: 16px;
    font-weight: 700;
}

.property-for-rent .ad .ad-left img{
    margin: 0px;
    padding: 0;
    width: 100%;
}

.property-for-rent .ad .ad-right{
    margin: 0;
    padding: 0;
}

.property-for-rent .ad .ad-right img{
    margin: 0;
    margin-top: 100px;
    padding: 0;
    height: 380px;
    width: 50px;
}

.property-for-rent .quick-links{
    background-color: white;
    display: flex;
    justify-content: space-between;
}